//color
$mainColor: #d34954;
$mainColorT: rgba(211, 73, 84, .9);
$deepColor: #252526;
$deepColorT: rgba(37, 37, 38, .9);
$lightColor: #d8d9dd;
$lightColorT: rgba(216, 217, 221, .9);
$backgroundColor: #e8e8e8;
$backgroundColor2: #e7e0e0;
$titleColor: #5b5b5b;
$textColor: #888;
$textColorL: white;
$labelRed: #f49999;
$labelGreen: #91aa35;
$labelBlue: #74b9e5;
$moreBtnColor: #de7164;
$borderColor: #ccc;
$facebookColor: #3b5998;
$instagramColor: #964b00;
$youtubeColor: #ea2d0d;
$shadowColor: rgba(0, 0, 0, .6);

//font size
$fontXXL: 36px;
$fontXL: 30px;
$fontL: 28px;
$fontM: 21px;
$fontS: 16px;
$fontXS: 14px;

//size
$width: 1200px;